.page-header {
    border-bottom: none;
    margin-bottom: 0;
}

.progress { margin: 10px 0; }

.btn-inline-toolbar { margin: 10px 0 }

.color-preview {
    display: block;
    height: 64px;
    width: 100%;
}

.color-preview-sm {
    height: 32px;
}