{% extends '::base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Zaloguj się</h4>
        </div>
        
        <div class="panel-body">
            <form action="{{ path("_security_check") }}" method="post">
                <div class="form-group">
                    <label for="username">Login:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                <button type="submit" name="login" class="btn btn-primary pull-right">
                    <i class="glyphicon glyphicon-lock"></i>
                    Zaloguj się
                </button>       
            </form>                    
        </div>
    </div>
{% endblock %}